{{ partial "header.html" . }}

{{ if eq .Kind "section" }}
    {{ .Content }}
{{end}}

<h1>Leads copied to report/findings</h1>

<div class="as-container">
  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>Severity</th>
        <th>Type</th>
        <th>Reviewed</th>
        <th>Title</th>
      </tr>
    </thead>
    {{ range $index, $element := sort (where (.Site.RegularPages.ByParam "sec") "Section" "in" .Site.Params.leadSections) ".Dir" "asc" ".Params.cvss.score" "desc" }}
        {{ if in .Site.Data.leads.copied .Params.details.id }}
    <tr>
      <td>{{ .Params.cvss.severity }} / {{ .Params.cvss.score }}</td>
      <td>{{ .Params.details.type | markdownify }}</td>
      <td>{{ .Params.details.reviewed }}</td>
      <td>
        <a href="{{.Permalink}}">{{ .Params.title | markdownify }}</a>
      </td>
    </tr>
    {{ end }}
    {{ end }}
  </table>
</div>

<footer class=" footline" >
{{with .Params.LastModifierDisplayName}}
    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
    </div>
{{end}}
</footer>

{{ partial "footer.html" . }}
