{{ partial "header.html" . }}

{{ if eq .Kind "section" }}
	{{ .Content }}
{{end}}

{{ if or (eq .Kind "taxonomy") (eq .Kind "term")  (eq .Kind "section") }}

<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th></th>
      <th>Date</th>
      <th>Author</th>
      <th>Hosts</th>
      <th>Summary</th>
    </tr>
  </thead>
	{{ range .Pages }}
	{{ partial "note.html" . }}
	{{ end }}
</table>
{{end}}


<footer class=" footline" >
	{{with .Params.LastModifierDisplayName}}
	    <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
	{{end}}
</footer>

{{ partial "footer.html" . }}
