{{ partial "header.html" . }}

{{ define "partials/display-directory" }}
  {{ $dir := .dir }}
  {{ $relDir := .relDir }}
  {{ $level := .level }}

  {{ $filtered := slice }}
  {{ range readDir $dir }}
    {{/*  Things we do not want to show up in this tab  */}}
    {{ if and (not (in .Name "gnmap")) (not (in .Name "ignore_")) }}
      {{ $filtered = $filtered | append . }}
    {{ end }}
  {{ end }}

  {{ range $filtered }}
    {{ $reconFile := path.Join $dir .Name }}
    {{ $reconFileRel := path.Join $relDir .Name }}

    {{/*  Aquatone Start  */}}
    {{ if and (in .Name "aquatone") }}
      {{$aquatonePath := path.Join $relDir .Name "aquatone_report.html#/pages/single" }}
      <div class="expand">
        <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
            <i style="font-size:x-small;" class="fas fa-chevron-right"></i>
            <span>Aquatone</span>
        </div>
        <div class="expand-content" style="display: none">
          <a href="{{ $aquatonePath }}" target="aquatone-frame">{{ .Name }}</a>
          <iframe name="aquatone-frame" src="{{ $aquatonePath }}" style="height: 500px; width: 100%"></iframe>
        </div>
      </div>
    {{/*  Aquatone End  */}}

    {{ else if .IsDir }}
      <div class="expand">
        <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
          <i style="font-size:x-small;" class="fas fa-chevron-right"></i>
            <span>{{ .Name }}</span>
        </div>
        <div class="expand-content" style="display: none;">
          <div style="margin-left: {{ mul 10 (add $level 1)}}px;">
            {{ partial "display-directory" (dict "dir" $reconFile "relDir" $reconFileRel "level" (add $level 1)) }}
          </div>
        </div>
      </div>
    {{ else }}
      <div class="expand">
        <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
          <i style="font-size:x-small;" class="fas fa-chevron-right"></i>
            <span>
              {{ .Name }}
              {{ if or (strings.HasSuffix $reconFile ".html") (strings.HasSuffix $reconFile ".xml") }}
                <a href="{{ $reconFileRel }}" class="">
                  <i class="fa fa-lg fa-link" aria-hidden="true"></i>
                </a>
              {{ end }}
            </span>
        </div>
        <div class="expand-content" style="display: none;">
          {{ if and (strings.HasSuffix $reconFile ".xml") (in $reconFile "nmap") }}
            <iframe name="nmap-frame" src="{{ $reconFileRel }}" style="height: 500px; width: 100%"></iframe>
          {{ else }}
            <pre>{{ readFile $reconFile }}</pre>
          {{ end }}
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}

{{ .Content }}

{{ if .Params }}

{{ $ip := print (replace (replace .File.Dir "hosts/" "") "/" "") }}

<div class="host-info-container as-container d-flex">
  <div class="host-info p-2 flex-fill">
    <strong>Reviewed By: {{ .Params.ReviewedBy }}</strong>

    {{ if  .Params.IPAddresses  }}
      <div>
        <strong>IP Addresses ({{ len .Params.IPAddresses }})</strong>
        <ul class="nobullets compact">
          {{ range .Params.IPAddresses }}
          <li>
            <code>{{ . }}</code>
          </li>
          {{ end }}
        </ul>
      </div>
  {{ end }}
  </div>

  <div class="host-info p-2 flex-fill">

    {{ if .Params.RootDomains  }}
    <div>
      <strong>Root Domains ({{ len .Params.RootDomains }})</strong>
      <ul class="nobullets compact">
        {{ range .Params.RootDomains }}
        <li>
          <code>{{ . }}</code>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}


  </div>
  <div class="host-info p-2 flex-fill">

    {{ if .Params.Hostnames }}
    <div>
      <strong>Hostnames ({{ len .Params.Hostnames }})</strong>
      <ul class="nobullets compact">
        {{ range .Params.Hostnames }}
        <li>
		<code>{{ . }}</code>
		<a href="http://{{ . }}" target="_blank" class="fas fa-solid fa-arrow-up-right-from-square"></a>
		<a href="https://{{ . }}" target="_blank" class="fas fa-solid fa-lock"></a>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}

  </div>
  <div class="host-info p-2 flex-fill">

    {{ if  .Params.TCPPorts  }}
    <div>
      <strong>TCP Ports ({{ len .Params.TCPPorts }})</strong>
      <ul class="nobullets compact">
        {{ range .Params.TCPPorts }}
        <li>
          <code>{{ . }}</code>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
    {{ if  .Params.UDPPorts  }}
    <div>
      <strong>UDP Ports ({{ len .Params.UDPPorts }})</strong>
      <ul class="nobullets compact">
        {{ range .Params.UDPPorts }}
        <li>
          <code>{{ . }}</code>
        </li>
        {{ end }}
      </ul>
    </div>
    {{ end }}
  </div>
</div>

<div class="host-info-container as-container d-flex">

  <div class=" p-2 flex-fill">
    {{ if  .Params.UserFlags  }}
    <div>
      <strong>User Flags ({{ len .Params.UserFlags }})</strong>
      <div>
        {{ range .Params.UserFlags }}
        {{$flag := print . }}
          <a class="btn btn-default" href="/userflags/{{ $flag | urlize }}">{{ $flag }} </a>
        {{ end }}
      </div>
    </div>
    {{ end }}


  </div>
</div>



<div class="host-info-container as-container d-flex">
  <div class=" p-2 flex-fill">

    {{ if  .Params.Flags  }}
    <div>
      <strong>Flags ({{ len .Params.Flags }})</strong>
      <div>
        {{ range .Params.Flags }}
        {{$flag := print . }}
          <a class="btn btn-default" href="/flags/{{ $flag | urlize }}">{{ $flag }} </a>
        {{ end }}
      </div>
    </div>

    {{ end }}
  </div>
</div>

<div class="as-container">
    <div class="tab-panel">
        <div class="tab-nav">
            <button data-tab-item="notes" data-tab-group="default" class="tab-nav-button btn active" onclick="switchTab('default','notes')">Notes</button>


            {{$readme := print "content/" .File.Dir "/README.md" }}
            {{ if and (fileExists $readme)}}
            <button data-tab-item="readme" data-tab-group="default" class="tab-nav-button btn" onclick="switchTab('default','readme')">README</button>
            {{ end }}


              {{ $lootDir := print "content/" .File.Dir "/loot/" }}
              {{ if and (fileExists $lootDir)}}
            <button data-tab-item="loot" data-tab-group="default" class="tab-nav-button btn" onclick="switchTab('default','loot')">Loot</button>

              {{end}}
            <button data-tab-item="recon" data-tab-group="default" class="tab-nav-button btn" onclick="switchTab('default','recon')">Recon</button>

            <button data-tab-item="content" data-tab-group="default" class="tab-nav-button btn" onclick="switchTab('default','content')">Content</button>
        </div>
        <div class="tab-content">


            <div data-tab-item="notes" data-tab-group="default" class="tab-item active">
              {{ $me := .Params.Name  }}
              <table class='table table-striped table-hover'>
                <thead>
                  <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Author</th>
                    <th>Hosts</th>
                    <th>Summary</th>
                  </tr>
                </thead>
              {{ range (where .Site.RegularPages.ByTitle "Section" "notes" ) }}
                {{ if in .Params.hosts $me }}

                {{ partial "note.html" . }}
                {{ end }}

              {{ end }}
              </table>
            </div>

            <div data-tab-item="readme" data-tab-group="default" class="tab-item">

              {{ .Content }}

              {{$readme := print .File.Dir "README.md" }}
              
              {{ range (where .Site.RegularPages "File.Path" $readme ) }}
                {{ .Content }}
              {{ end }}

            </div>


              {{ $lootDir := print "content/" .File.Dir "/loot/" }}
              {{ if and (fileExists $lootDir)}}
            <div data-tab-item="loot" data-tab-group="default" class="tab-item">


                  <h3>Loot</h3>
                  {{$credentials := print $lootDir "/passwords/credentials.txt" }}
                  {{ if and (fileExists $credentials)}}
                  <div class="expand">
                      <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
                          <i style="font-size:x-small;" class="fas fa-chevron-down"></i>
                          <span>Valid credentials</span>
                      </div>
                      <div class="expand-content" style="">
                          <pre>{{readFile $credentials }}</pre>
                      </div>
                  </div>
                  {{ end }}


                  {{$keys := print $lootDir "/keys/" }}
                  {{ if and (fileExists $keys)}}
                  <div class="expand">
                      <div class="expand-label" style="cursor: pointer;" onclick="$h = $(this);$h.next('div').slideToggle(100,function () {$h.children('i').attr('class',function () {return $h.next('div').is(':visible') ? 'fas fa-chevron-down' : 'fas fa-chevron-right';});});">
                          <i style="font-size:x-small;" class="fas fa-chevron-down"></i>
                          <span>Keys</span>
                      </div>
                      <div class="expand-content" style="">
                        {{ range (readDir $keys) }}
                        {{ .Name }}
                        <pre>{{readFile (print $keys .Name) }}</pre>
                        {{ end }}
                      </div>
                  </div>
                  {{ end }}
                {{ range $index, $element := (readDir $lootDir) }}
                  {{$lootFile := print $lootDir .Name  }}
                  {{ if and (ne $element.Name "passwords") (ne $element.Name "keys") }}
                  <div class="card">
                    <div class="card-header" id="headingThree{{ $index }}">
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree{{ $index }}" aria-expanded="false" aria-controls="collapseThree">
                          {{ $element.Name }}</button>
                      </h2>
                    </div>
                    <div id="collapseThree{{ $index }}" class="collapse" aria-labelledby="headingThree" data-parent="#loot-accordian">
                      <div class="card-body">
                        <pre>{{readFile $lootFile }}</pre>
                      </div>
                    </div>
                  </div>
                  {{ end }}
                {{ end }}

            </div>
            {{ end }}

            {{ $reconDir := path.Join "content" .File.Dir "recon" }}
            {{ $reconDirRel := replace $reconDir "content/" "/" }}
            {{ if and (fileExists $reconDir)}}
              <div data-tab-item="recon" data-tab-group="default" class="tab-item">
                <h3>Recon</h3>

                {{ partial "display-directory" (dict "dir" $reconDir "relDir" $reconDirRel "level" 0) }}
              </div>
            {{ end }}

            <div data-tab-item="content" data-tab-group="default" class="tab-item">
              <div id="host-content"></div>
            </div>
        </div>
    </div>
</div>

{{ end }}

<script>
  var hostParams = {
    name: "{{.Params.Name}}"
  }
</script>
{{ $js := resources.Get "js/hosts/single.jsx" | js.Build }}
<script src="{{ $js.RelPermalink }}"></script>

{{ partial "footer.html" . }}
